<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<span style="font-size: 0; color: #fff">Construa este novo momento com a Evviva. O Vivencie é uma oportunidade única para você criar uma parceria ainda mais forte com os arquitetos, aumentando o sucesso da sua loja Evviva. Para que todos possam desfrutar das experiências promovidas pelo programa é essencial o incentivo para que os profissionais participem e que você, lojista, não se esqueça de cadastrar todos os pontos. É hora de compartilhar desafios e sucessos! </span>
<table width="700" style="font-size:0; width: 700px; background: #fff; margin: 0 auto; border-collapse: collapse;">
    <tbody>
        <tr style="padding: 0; background: #fff; font-size: 0;">
            <td colspan="3" width="700" style="padding: 0 0 10px; margin: 0; text-align: center;">
                <span style="text-align: center; font-family: 'Arial'; font-size: 12px; color: #938b8b;">Se você está tendo dificuldades para acessar o conteúdo no e-mail, tente a <a style="color: #584632;" target="_blank" href="https://www.evviva.com.br/emkt/2021/12/index.html">versão online</a>.</span>
            </td>
        </tr>
        <tr style="padding: 0; background: #fff; font-size: 0;">
            <td colspan="3" width="700" style="padding: 0;">
                <a target="_blank" href="https://vivencie.evviva.com.br/customer/account/login" style="display: block; text-decoration: none; padding: 0; font-size: 0;">
                    <img alt="Vivencie Evviva. " src="https://www.evviva.com.br/emkt/2021/12/EMKT_vivencie-evviva_seq-03_V1_01.jpg" style="border: 0; margin: 0; font-size: 0;" />
                </a>
            </td>
        </tr>
        <tr style="padding: 0; background: #fff; font-size: 0;">
            <td colspan="3" width="700" style="padding: 0;">
                <a target="_blank" href="https://vivencie.evviva.com.br/customer/account/login" style="display: block; text-decoration: none; padding: 0; font-size: 0;">
                    <img alt="Imagem de uma pilha de pedras. " src="https://www.evviva.com.br/emkt/2021/12/EMKT_vivencie-evviva_seq-03_V1_02.jpg" style="border: 0; margin: 0; font-size: 0;" />
                </a>
            </td>
        </tr>
        <tr style="padding: 0; background: #fff; font-size: 0;">
            <td colspan="3" width="700" style="padding: 0;">
                <a target="_blank" href="https://vivencie.evviva.com.br/customer/account/login" style="display: block; text-decoration: none; padding: 0; font-size: 0;">
                    <img alt="Construa este novo momento com a Evviva. O Vivencie é uma oportunidade única para você criar uma parceria ainda mais forte com os arquitetos, aumentando o sucesso da sua loja Evviva. Para que todos possam desfrutar das experiências promovidas pelo programa é essencial o incentivo para que os profissionais participem e que você, lojista, não se esqueça de cadastrar todos os pontos. É hora de compartilhar desafios e sucessos! " src="https://www.evviva.com.br/emkt/2021/12/EMKT_vivencie-evviva_seq-03_V1_03.jpg" style="border: 0; margin: 0; font-size: 0;" />
                </a>
            </td>
        </tr>
        <tr style="padding: 0; background: #fff; font-size: 0;">
            <td colspan="3" width="700" style="padding: 0;">
                <a target="_blank" href="https://vivencie.evviva.com.br/customer/account/login" style="display: block; text-decoration: none; padding: 0; font-size: 0;">
                    <img alt="Para dúvidas e sugestões, entre em contato pelo e-mail sheila.bertolini@evviva.com.br " src="https://www.evviva.com.br/emkt/2021/12/EMKT_vivencie-evviva_seq-03_V1_04.jpg" style="border: 0; margin: 0; font-size: 0;" />
                </a>
            </td>
        </tr>
        <tr style="padding: 0; background: #fff; font-size: 0;">
            <td colspan="3" width="700" style="padding: 0;">
                <a target="_blank" href="https://vivencie.evviva.com.br/customer/account/login" style="display: block; text-decoration: none; padding: 0; font-size: 0;">
                    <img alt="" src="https://www.evviva.com.br/emkt/2021/12/EMKT_vivencie-evviva_seq-03_V1_05.jpg" style="border: 0; margin: 0; font-size: 0;" />
                </a>
            </td>
        </tr>
        <tr style="padding: 0; background: #fff; font-size: 0;">
            <td width="354" style="padding: 0;">
                <a target="_blank" href="https://vivencie.evviva.com.br/customer/account/login" style="display: block; text-decoration: none; padding: 0; font-size: 0;">
                    <img src="https://www.evviva.com.br/emkt/2021/12/EMKT_vivencie-evviva_seq-03_V1_06.jpg" alt="Site Evviva: https://www.evviva.com.br. " style="border: 0; margin: 0; font-size: 0;" />
                </a>
            </td>
            <td width="346" style="padding: 0;">
                <a target="_blank" href="https://www.instagram.com/evvivaoficial" style="display: block; text-decoration: none; padding: 0; font-size: 0;">
                    <img src="https://www.evviva.com.br/emkt/2021/12/EMKT_vivencie-evviva_seq-03_V1_07.jpg" alt="Instagram Evviva: https://www.instagram.com/evvivaoficial. " style="border: 0; margin: 0; font-size: 0;" />
                </a>
                <a target="_blank" href="https://www.facebook.com/evvivaoficial" style="display: block; text-decoration: none; padding: 0; font-size: 0;">
                    <img src="https://www.evviva.com.br/emkt/2021/12/EMKT_vivencie-evviva_seq-03_V1_08.jpg" alt="Facebook Evviva: https://www.facebook.com/evvivaoficial." style="border: 0; margin: 0; font-size: 0;" />
                </a>
            </td>
        </tr>
    </tbody>
</table>