<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<span style="font-size: 0; color: #fff">Viva esta experiência com a Evviva. A sua participação no Vivencie Evviva é de extrema importância para o sucesso do programa no fortalecimento do relacionamento com os arquitetos, no reconhecimento da marca e na geração de vendas. </span>
<table width="700" style="font-size:0; width: 700px; background: #fff; margin: 0 auto; border-collapse: collapse;">
    <tbody>
        <tr style="padding: 0; background: #fff; font-size: 0;">
            <td colspan="3" width="700" style="padding: 0 0 10px; margin: 0; text-align: center;">
                <span style="text-align: center; font-family: 'Arial'; font-size: 12px; color: #938b8b;">Se você está tendo dificuldades para acessar o conteúdo no e-mail, tente a <a style="color: #584632;" target="_blank" href="https://www.evviva.com.br/emkt/2021/11/index.html">versão online</a>.</span>
            </td>
        </tr>
        <tr style="padding: 0; background: #fff; font-size: 0;">
            <td colspan="3" width="700" style="padding: 0;">
                <a target="_blank" href="https://vivencie.evviva.com.br/customer/account/login" style="display: block; text-decoration: none; padding: 0; font-size: 0;">
                    <img alt="Vivencie Evviva. " src="https://www.evviva.com.br/emkt/2021/11/EMKT_vivencie-evviva_seq-02_V1_01.jpg" style="border: 0; margin: 0; font-size: 0;" />
                </a>
            </td>
        </tr>
        <tr style="padding: 0; background: #fff; font-size: 0;">
            <td colspan="3" width="700" style="padding: 0;">
                <a target="_blank" href="https://vivencie.evviva.com.br/customer/account/login" style="display: block; text-decoration: none; padding: 0; font-size: 0;">
                    <img alt="Imagem de avião. " src="https://www.evviva.com.br/emkt/2021/11/EMKT_vivencie-evviva_seq-02_V1_02.jpg" style="border: 0; margin: 0; font-size: 0;" />
                </a>
            </td>
        </tr>
        <tr style="padding: 0; background: #fff; font-size: 0;">
            <td colspan="3" width="700" style="padding: 0;">
                <a target="_blank" href="https://vivencie.evviva.com.br/customer/account/login" style="display: block; text-decoration: none; padding: 0; font-size: 0;">
                    <img alt="Viva esta experiência com a Evviva. A sua participação no Vivencie Evviva é de extrema importância para o sucesso do programa no fortalecimento do relacionamento com os arquitetos, no reconhecimento da marca e na geração de vendas." src="https://www.evviva.com.br/emkt/2021/11/EMKT_vivencie-evviva_seq-02_V1_03.jpg" style="border: 0; margin: 0; font-size: 0;" />
                </a>
            </td>
        </tr>
        <tr style="padding: 0; background: #fff; font-size: 0;">
            <td colspan="3" width="700" style="padding: 0;">
                <a target="_blank" href="https://vivencie.evviva.com.br/customer/account/login" style="display: block; text-decoration: none; padding: 0; font-size: 0;">
                    <img alt="Sobre o programa. - Período: 01 de maio de 2021 a 28 de fevereiro de 2022; - Participam profissionais especificadores, atuantes em todo o território nacional, compradores em qualquer uma das revendas da Evviva de todo o Brasil; - A adesão é opcional e estará condicionada à concordância das regras estipuladas no regulamento oficial, bem como ao cadastro do
                    profissional na página do programa; - O cadastramento do especificador pode se dar em nome do escritório de arquitetura, vinculado a um CNPJ ou no próprio CPF do mesmo; - Cada R$ 1,00 em compras na loja equivalerá a 01 (um) ponto; - A pontuação considerará somente o valor líquido dos produtos adquiridos, ou seja, serão excluídos eventuais encargos financeiros. Pontuação por destino: 450.000 pontos Vila Galé Cumbuco Caucaia - CE, 700.000 pontos Kûara Hotel Boutique Arraial D’Ajuda - BA, 1.000.000 pontos Valência - Espanha. " 
                    src="https://www.evviva.com.br/emkt/2021/11/EMKT_vivencie-evviva_seq-02_V1_04.jpg" style="border: 0; margin: 0; font-size: 0;" />
                </a>
            </td>
        </tr>
        <tr style="padding: 0; background: #fff; font-size: 0;">
            <td colspan="3" width="700" style="padding: 0;">
                <a target="_blank" href="https://vivencie.evviva.com.br/customer/account/login" style="display: block; text-decoration: none; padding: 0; font-size: 0;">
                    <img alt="Como acompanhar as pontuações? Para o cadastramento dos pontos, cada lojista Evviva deve efetuar o seu login na página do programa. O mesmo ocorre para os arquitetos poderem acompanhar as suas pontuações e a quantidade faltante para o alcance do prêmio. Participe e vamos, juntos, desfrutar de grandes realizações! " src="https://www.evviva.com.br/emkt/2021/11/EMKT_vivencie-evviva_seq-02_V1_05.jpg" style="border: 0; margin: 0; font-size: 0;" />
                </a>
            </td>
        </tr>
        <tr style="padding: 0; background: #fff; font-size: 0;">
            <td colspan="3" width="700" style="padding: 0;">
                <a target="_blank" href="https://vivencie.evviva.com.br/customer/account/login" style="display: block; text-decoration: none; padding: 0; font-size: 0;">
                    <img alt="Para dúvidas e sugestões, entre em contato  pelo e-mail sheila.bertolini@evviva.com.br " src="https://www.evviva.com.br/emkt/2021/11/EMKT_vivencie-evviva_seq-02_V1_06.jpg" style="border: 0; margin: 0; font-size: 0;" />
                </a>
            </td>
        </tr>
        <tr style="padding: 0; background: #fff; font-size: 0;">
            <td colspan="3" width="700" style="padding: 0;">
                <a target="_blank" href="https://vivencie.evviva.com.br/customer/account/login" style="display: block; text-decoration: none; padding: 0; font-size: 0;">
                    <img alt="" src="https://www.evviva.com.br/emkt/2021/11/EMKT_vivencie-evviva_seq-02_V1_07.jpg" style="border: 0; margin: 0; font-size: 0;" />
                </a>
            </td>
        </tr>
        <tr style="padding: 0; background: #fff; font-size: 0;">
            <td width="354" style="padding: 0;">
                <a target="_blank" href="https://vivencie.evviva.com.br/customer/account/login" style="display: block; text-decoration: none; padding: 0; font-size: 0;">
                    <img src="https://www.evviva.com.br/emkt/2021/11/EMKT_vivencie-evviva_seq-02_V1_08.jpg" alt="Site Evviva: https://www.evviva.com.br. " style="border: 0; margin: 0; font-size: 0;" />
                </a>
            </td>
            <td width="346" style="padding: 0;">
                <a target="_blank" href="https://www.instagram.com/evvivaoficial" style="display: block; text-decoration: none; padding: 0; font-size: 0;">
                    <img src="https://www.evviva.com.br/emkt/2021/11/EMKT_vivencie-evviva_seq-02_V1_09.jpg" alt="Instagram Evviva: https://www.instagram.com/evvivaoficial. " style="border: 0; margin: 0; font-size: 0;" />
                </a>
                <a target="_blank" href="https://www.facebook.com/evvivaoficial" style="display: block; text-decoration: none; padding: 0; font-size: 0;">
                    <img src="https://www.evviva.com.br/emkt/2021/11/EMKT_vivencie-evviva_seq-02_V1_10.jpg" alt="Facebook Evviva: https://www.facebook.com/evvivaoficial." style="border: 0; margin: 0; font-size: 0;" />
                </a>
            </td>
        </tr>
    </tbody>
</table>