<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<span style="font-size: 0; color: #fff">Chegou o momento mais esperado do bimestre, que rufem os tambores! Façam suas apostas, comecem a cruzar os dedos e a torcer muito porque os prêmios são incríveis. </span>
<table width="700" style="font-size:0; width: 700px; background: #fff; margin: 0 auto; border-collapse: collapse;">
    <tbody>
        <tr style="padding: 0; background: #fff; font-size: 0;">
            <td colspan="3" width="700" style="padding: 0 0 10px; margin: 0; text-align: center;">
                <span style="text-align: center; font-family: 'Arial'; font-size: 12px; color: #938b8b;">Se você está tendo dificuldades para acessar o conteúdo no e-mail, tente a <a style="color: #584632;" target="_blank" href="https://www.evviva.com.br/emkt/2021/07/index.html">versão online</a>.</span>
            </td>
        </tr>
        <tr style="padding: 0; background: #fff; font-size: 0;">
            <td colspan="3" width="700" style="padding: 0;">
                <a target="_blank" href="https://www.evviva.com.br" style="display: block; text-decoration: none; padding: 0; font-size: 0;">
                    <img alt="Conecte-se Evviva - 003 / Maio 2021. " src="https://www.evviva.com.br/emkt/2021/07/Newsletter-Interna_Lado-a-Lado_1_V2_01.jpg" style="border: 0; margin: 0; font-size: 0;" />
                </a>
            </td>
        </tr>
        <tr style="padding: 0; background: #fff; font-size: 0;">
            <td colspan="3" width="700" style="padding: 0;">
                <a target="_blank" href="https://www.evviva.com.br" style="display: block; text-decoration: none; padding: 0; font-size: 0;">
                    <img alt="Fique por dentro dos destaques. " src="https://www.evviva.com.br/emkt/2021/07/Newsletter-Interna_Lado-a-Lado_1_V2_02.jpg" style="border: 0; margin: 0; font-size: 0;" />
                </a>
            </td>
        </tr>
        <tr style="padding: 0; background: #fff; font-size: 0;">
            <td colspan="3" width="700" style="padding: 0;">
                <a target="_blank" href="https://www.evviva.com.br" style="display: block; text-decoration: none; padding: 0; font-size: 0;">
                    <img alt="Campanha Lado a Lado Evviva. " src="https://www.evviva.com.br/emkt/2021/07/Newsletter-Interna_Lado-a-Lado_1_V2_03.jpg" style="border: 0; margin: 0; font-size: 0;" />
                </a>
            </td>
        </tr>
        <tr style="padding: 0; background: #fff; font-size: 0;">
            <td colspan="3" width="700" style="padding: 0;">
                <a target="_blank" href="https://www.evviva.com.br" style="display: block; text-decoration: none; padding: 0; font-size: 0;">
                    <img alt="“Se você quer fazer uma coisa realmente grande, seja grande como a coisa que você quer fazer” – Nizan Guanaes. Chegou o momento mais esperado do bimestre, que rufem os tambores! Façam suas apostas, comecem a cruzar os dedos e a torcer muito porque os prêmios são incríveis. " src="https://www.evviva.com.br/emkt/2021/07/Newsletter-Interna_Lado-a-Lado_1_V2_04.jpg" style="border: 0; margin: 0; font-size: 0;" />
                </a>
            </td>
        </tr>
        <tr style="padding: 0; background: #fff; font-size: 0;">
            <td colspan="3" width="700" style="padding: 0;">
                <a target="_blank" href="https://www.evviva.com.br" style="display: block; text-decoration: none; padding: 0; font-size: 0;">
                    <img alt="Antes de conhecer os vencedores deste bimestre, o nosso muito obrigado! O empenho e dedicação de cada um reflete nos resultados do grupo todo. " src="https://www.evviva.com.br/emkt/2021/07/Newsletter-Interna_Lado-a-Lado_1_V2_05.jpg" style="border: 0; margin: 0; font-size: 0;" />
                </a>
            </td>
        </tr>
        <tr style="padding: 0; background: #fff; font-size: 0;">
            <td colspan="3" width="700" style="padding: 0;">
                <a target="_blank" href="https://www.evviva.com.br" style="display: block; text-decoration: none; padding: 0; font-size: 0;">
                    <img alt="Melhor performance do bimestre. Ana Paula Pátaro - Evviva Goiânia (GoPro). Ismael J. Monteiro Machado – Evviva Teresina (Smartwatch Samsung). Fabiane Valente - Evviva Curitiba (Alexa Eco Show 5). Sorteio foi realizado em 07/05/2021. " src="https://www.evviva.com.br/emkt/2021/07/Newsletter-Interna_Lado-a-Lado_1_V2_06.jpg" style="border: 0; margin: 0; font-size: 0;" />
                </a>
            </td>
        </tr>
        <tr style="padding: 0; background: #fff; font-size: 0;">
            <td colspan="3" width="700" style="padding: 0;">
                <a target="_blank" href="https://www.evviva.com.br" style="display: block; text-decoration: none; padding: 0; font-size: 0;">
                    <img alt="Não conhece o Programa Lado a Lado? O Programa Lado a Lado foi desenvolvido para reafirmar a parceria da EVVIVA, com vocês nossos Consultores de Vendas. Além de reforçar os laços e a identificação com a marca é uma forma de retribuir o engajamento de cada um. Os vendedores que mais efetuarem vendas no bimestre serão premiados,  formando um TOP 10 das melhores performances da rede. Participe e faça parte desse grupo super especial! " src="https://www.evviva.com.br/emkt/2021/07/Newsletter-Interna_Lado-a-Lado_1_V2_07.jpg" style="border: 0; margin: 0; font-size: 0;" />
                </a>
            </td>
        </tr>
        <tr style="padding: 0; background: #fff; font-size: 0;">
            <td colspan="3" width="700" style="padding: 0;">
                <a target="_blank" href="https://www.evviva.com.br" style="display: block; text-decoration: none; padding: 0; font-size: 0;">
                    <img alt="Seja um profissional de destaque nacional ao estar entre as melhores performances da rede e aproveite uma viagem para Bento Gonçalves, com uma surpresa especial. Vamos, juntos, alcançar conquistas surpreendentes. " src="https://www.evviva.com.br/emkt/2021/07/Newsletter-Interna_Lado-a-Lado_1_V2_08.jpg" style="border: 0; margin: 0; font-size: 0;" />
                </a>
            </td>
        </tr>
        <tr style="padding: 0; background: #fff; font-size: 0;">
            <td width="354" style="padding: 0;">
                <a target="_blank" href="https://www.evviva.com.br" style="display: block; text-decoration: none; padding: 0; font-size: 0;">
                    <img src="https://www.evviva.com.br/emkt/2021/07/Newsletter-Interna_Lado-a-Lado_1_V2_09.jpg" alt="Site Evviva: https://www.evviva.com.br. " style="border: 0; margin: 0; font-size: 0;" />
                </a>
            </td>
            <td width="346" style="padding: 0;">
                <a target="_blank" href="https://www.instagram.com/evvivaoficial" style="display: block; text-decoration: none; padding: 0; font-size: 0;">
                    <img src="https://www.evviva.com.br/emkt/2021/07/Newsletter-Interna_Lado-a-Lado_1_V2_10.jpg" alt="Instagram Evviva: https://www.instagram.com/evvivaoficial. " style="border: 0; margin: 0; font-size: 0;" />
                </a>
                <a target="_blank" href="https://www.facebook.com/evvivaoficial" style="display: block; text-decoration: none; padding: 0; font-size: 0;">
                    <img src="https://www.evviva.com.br/emkt/2021/07/Newsletter-Interna_Lado-a-Lado_1_V2_11.jpg" alt="Facebook Evviva: https://www.facebook.com/evvivaoficial." style="border: 0; margin: 0; font-size: 0;" />
                </a>
            </td>
        </tr>
    </tbody>
</table>