<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<span style="font-size: 0; color: #fff">Conheça a Casa LG ThinQ. Uma casa conectada com o futuro. A Casa LG ThinQ, assinada pelo Estudio Guto Requena com Pax.Arq, é um projeto que democratiza e simplifica a construção sustentável de habitações. </span>
<table width="700" style="font-size:0; width: 700px; background: #fff; margin: 0 auto; border-collapse: collapse;">
    <tbody>
        <tr style="padding: 0; background: #fff; font-size: 0;">
            <td colspan="3" width="700" style="padding: 0 0 10px; margin: 0; text-align: center;">
                <span style="text-align: center; font-family: 'Arial'; font-size: 12px; color: #938b8b;">Se você está tendo dificuldades para acessar o conteúdo no e-mail, tente a <a style="color: #584632;" target="_blank" href="https://www.evviva.com.br/emkt/2021/13/index.html">versão online</a>.</span>
            </td>
        </tr>
        <tr style="padding: 0; background: #fff; font-size: 0;">
            <td colspan="3" width="700" style="padding: 0;">
                <a target="_blank" href="https://youtu.be/rr76KI3uzQ0" style="display: block; text-decoration: none; padding: 0; font-size: 0;">
                    <img alt="Uma casa conectada com o futuro. A Casa LG ThinQ, assinada pelo Estudio Guto Requena com Pax.Arq, é um projeto que democratiza e simplifica a construção sustentável de habitações. " src="https://www.evviva.com.br/emkt/2021/13/emkt_casa-lg_evviva-V3_01.jpg" style="border: 0; margin: 0; font-size: 0;" />
                </a>
            </td>
        </tr>
        <tr style="padding: 0; background: #fff; font-size: 0;">
            <td colspan="3" width="700" style="padding: 0;">
                <a target="_blank" href="https://youtu.be/rr76KI3uzQ0" style="display: block; text-decoration: none; padding: 0; font-size: 0;">
                    <img alt="Inovação e imponência. A nova linha Ino D.O.C. compõe o ambiente gourmet. Desenvolvido em aço inox, material ecologicamente correto, o móvel possui design minimalista, puxadores cava e tamponamentos contínuos. " src="https://www.evviva.com.br/emkt/2021/13/emkt_casa-lg_evviva-V3_02.jpg" style="border: 0; margin: 0; font-size: 0;" />
                </a>
            </td>
        </tr>
        <tr style="padding: 0; background: #fff; font-size: 0;">
            <td colspan="3" width="700" style="padding: 0;">
                <a target="_blank" href="https://youtu.be/rr76KI3uzQ0" style="display: block; text-decoration: none; padding: 0; font-size: 0;">
                    <img alt="Foto. " src="https://www.evviva.com.br/emkt/2021/13/emkt_casa-lg_evviva-V3_03.jpg" style="border: 0; margin: 0; font-size: 0;" />
                </a>
            </td>
        </tr>
        <tr style="padding: 0; background: #fff; font-size: 0;">
            <td colspan="3" width="700" style="padding: 0;">
                <a target="_blank" href="https://youtu.be/rr76KI3uzQ0" style="display: block; text-decoration: none; padding: 0; font-size: 0;">
                    <img alt="Personalização. " src="https://www.evviva.com.br/emkt/2021/13/emkt_casa-lg_evviva-V3_04.jpg" style="border: 0; margin: 0; font-size: 0;" />
                </a>
            </td>
        </tr>
        <tr style="padding: 0; background: #fff; font-size: 0;">
            <td colspan="3" width="700" style="padding: 0;">
                <a target="_blank" href="https://youtu.be/rr76KI3uzQ0" style="display: block; text-decoration: none; padding: 0; font-size: 0;">
                    <img alt="O showroom LG evidencia a cor principal da marca com o mobiliário Evviva planejado para oferecer o melhor aproveitamento de espaço. " src="https://www.evviva.com.br/emkt/2021/13/emkt_casa-lg_evviva-V3_05.jpg" style="border: 0; margin: 0; font-size: 0;" />
                </a>
            </td>
        </tr>
        <tr style="padding: 0; background: #fff; font-size: 0;">
            <td colspan="3" width="700" style="padding: 0;">
                <a target="_blank" href="https://youtu.be/rr76KI3uzQ0" style="display: block; text-decoration: none; padding: 0; font-size: 0;">
                    <img alt="Foto. " src="https://www.evviva.com.br/emkt/2021/13/emkt_casa-lg_evviva-V3_06.jpg" style="border: 0; margin: 0; font-size: 0;" />
                </a>
            </td>
        </tr>
        <tr style="padding: 0; background: #fff; font-size: 0;">
            <td colspan="3" width="700" style="padding: 0;">
                <a target="_blank" href="https://youtu.be/rr76KI3uzQ0" style="display: block; text-decoration: none; padding: 0; font-size: 0;">
                    <img alt="Complementando o visual do quarto, o armário personalizado possui portas em vidro e dobradiças italianas com banho em titânio. A mostra CASACOR São Paulo 2021 acontece até o dia 15 de novembro no Parque Mirante. " src="https://www.evviva.com.br/emkt/2021/13/emkt_casa-lg_evviva-V3_07.jpg" style="border: 0; margin: 0; font-size: 0;" />
                </a>
            </td>
        </tr>
        <tr style="padding: 0; background: #fff; font-size: 0;">
            <td colspan="3" width="700" style="padding: 0;">
                <a target="_blank" href="https://youtu.be/rr76KI3uzQ0" style="display: block; text-decoration: none; padding: 0; font-size: 0;">
                    <img alt="Conheça mais detalhes! " src="https://www.evviva.com.br/emkt/2021/13/emkt_casa-lg_evviva-V3_08.jpg" style="border: 0; margin: 0; font-size: 0;" />
                </a>
            </td>
        </tr>
        <tr style="padding: 0; background: #fff; font-size: 0;">
            <td width="354" style="padding: 0;">
                <a target="_blank" href="https://www.instagram.com/evvivaoficial/" style="display: block; text-decoration: none; padding: 0; font-size: 0;">
                    <img src="https://www.evviva.com.br/emkt/2021/13/emkt_casa-lg_evviva-V3_09.jpg" alt="Site Evviva: https://www.evviva.com.br. " style="border: 0; margin: 0; font-size: 0;" />
                </a>
            </td>
            <td width="346" style="padding: 0;">
                <a target="_blank" href="https://www.instagram.com/evvivaoficial" style="display: block; text-decoration: none; padding: 0; font-size: 0;">
                    <img src="https://www.evviva.com.br/emkt/2021/13/emkt_casa-lg_evviva-V3_10.jpg" alt="Instagram Evviva: https://www.instagram.com/evvivaoficial. " style="border: 0; margin: 0; font-size: 0;" />
                </a>
                <a target="_blank" href="https://www.facebook.com/evvivaoficial" style="display: block; text-decoration: none; padding: 0; font-size: 0;">
                    <img src="https://www.evviva.com.br/emkt/2021/13/emkt_casa-lg_evviva-V3_11.jpg" alt="Facebook Evviva: https://www.facebook.com/evvivaoficial." style="border: 0; margin: 0; font-size: 0;" />
                </a>
            </td>
        </tr>
    </tbody>
</table>