<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<span style="font-size: 0; color: #fff">Agradecemos o empenho de todos! </span>
<table width="700" style="font-size:0; width: 700px; background: #fff; margin: 0 auto; border-collapse: collapse;">
    <tbody>
        <tr style="padding: 0; background: #fff; font-size: 0;">
            <td colspan="3" width="700" style="padding: 0 0 10px; margin: 0; text-align: center;">
                <span style="text-align: center; font-family: 'Arial'; font-size: 12px; color: #938b8b;">Se você está tendo dificuldades para acessar o conteúdo no e-mail, tente a <a style="color: #584632;" target="_blank" href="https://www.evviva.com.br/emkt/2021/08/index.html">versão online</a>.</span>
            </td>
        </tr>
        <tr style="padding: 0; background: #fff; font-size: 0;">
            <td colspan="3" width="700" style="padding: 0;">
                <a target="_blank" href="https://www.evviva.com.br" style="display: block; text-decoration: none; padding: 0; font-size: 0;">
                    <img alt="" src="https://www.evviva.com.br/emkt/2021/08/1.jpg" style="border: 0; margin: 0; font-size: 0;" />
                </a>
            </td>
        </tr>
        <tr style="padding: 0; background: #fff; font-size: 0;">
            <td colspan="3" width="700" style="padding: 0;">
                <a target="_blank" href="https://www.evviva.com.br" style="display: block; text-decoration: none; padding: 0; font-size: 0;">
                    <img alt="" src="https://www.evviva.com.br/emkt/2021/08/2.jpg" style="border: 0; margin: 0; font-size: 0;" />
                </a>
            </td>
        </tr>
        <tr style="padding: 0; background: #fff; font-size: 0;">
            <td colspan="3" width="700" style="padding: 0;">
                <a target="_blank" href="https://www.evviva.com.br" style="display: block; text-decoration: none; padding: 0; font-size: 0;">
                    <img alt="" src="https://www.evviva.com.br/emkt/2021/08/3.jpg" style="border: 0; margin: 0; font-size: 0;" />
                </a>
            </td>
        </tr>
        <tr style="padding: 0; background: #fff; font-size: 0;">
            <td colspan="3" width="700" style="padding: 0;">
                <a target="_blank" href="https://www.evviva.com.br" style="display: block; text-decoration: none; padding: 0; font-size: 0;">
                    <img alt="" src="https://www.evviva.com.br/emkt/2021/08/4.jpg" style="border: 0; margin: 0; font-size: 0;" />
                </a>
            </td>
        </tr>
        <tr style="padding: 0; background: #fff; font-size: 0;">
            <td colspan="3" width="700" style="padding: 0;">
                <a target="_blank" href="https://www.evviva.com.br" style="display: block; text-decoration: none; padding: 0; font-size: 0;">
                    <img alt="" src="https://www.evviva.com.br/emkt/2021/08/5.jpg" style="border: 0; margin: 0; font-size: 0;" />
                </a>
            </td>
        </tr>
        <tr style="padding: 0; background: #fff; font-size: 0;">
            <td colspan="3" width="700" style="padding: 0;">
                <a target="_blank" href="https://www.evviva.com.br" style="display: block; text-decoration: none; padding: 0; font-size: 0;">
                    <img alt="" src="https://www.evviva.com.br/emkt/2021/08/6.jpg" style="border: 0; margin: 0; font-size: 0;" />
                </a>
            </td>
        </tr>
        <tr style="padding: 0; background: #fff; font-size: 0;">
            <td colspan="3" width="700" style="padding: 0;">
                <a target="_blank" href="https://www.evviva.com.br" style="display: block; text-decoration: none; padding: 0; font-size: 0;">
                    <img alt="" src="https://www.evviva.com.br/emkt/2021/08/7.jpg" style="border: 0; margin: 0; font-size: 0;" />
                </a>
            </td>
        </tr>
        <tr style="padding: 0; background: #fff; font-size: 0;">
            <td colspan="3" width="700" style="padding: 0;">
                <a target="_blank" href="https://www.evviva.com.br" style="display: block; text-decoration: none; padding: 0; font-size: 0;">
                    <img alt="" src="https://www.evviva.com.br/emkt/2021/08/8.jpg" style="border: 0; margin: 0; font-size: 0;" />
                </a>
            </td>
        </tr>
        <tr style="padding: 0; background: #fff; font-size: 0;">
            <td width="354" style="padding: 0;">
                <a target="_blank" href="https://www.evviva.com.br" style="display: block; text-decoration: none; padding: 0; font-size: 0;">
                    <img src="https://www.evviva.com.br/emkt/2021/07/Newsletter-Interna_Lado-a-Lado_1_V2_09.jpg" alt="Site Evviva: https://www.evviva.com.br. " style="border: 0; margin: 0; font-size: 0;" />
                </a>
            </td>
            <td width="346" style="padding: 0;">
                <a target="_blank" href="https://www.instagram.com/evvivaoficial" style="display: block; text-decoration: none; padding: 0; font-size: 0;">
                    <img src="https://www.evviva.com.br/emkt/2021/07/Newsletter-Interna_Lado-a-Lado_1_V2_10.jpg" alt="Instagram Evviva: https://www.instagram.com/evvivaoficial. " style="border: 0; margin: 0; font-size: 0;" />
                </a>
                <a target="_blank" href="https://www.facebook.com/evvivaoficial" style="display: block; text-decoration: none; padding: 0; font-size: 0;">
                    <img src="https://www.evviva.com.br/emkt/2021/07/Newsletter-Interna_Lado-a-Lado_1_V2_11.jpg" alt="Facebook Evviva: https://www.facebook.com/evvivaoficial." style="border: 0; margin: 0; font-size: 0;" />
                </a>
            </td>
        </tr>
    </tbody>
</table>