<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<span style="font-size: 0; color: #fff">Juntos conquistamos mais. Agradecemos o empenho de todos e parabenizamos os(as) 20 consultores(as) que alcançaram o melhor desempenho em vendas no bimestre março/abril de 2021. </span>
<table width="700" style="font-size:0; width: 700px; background: #fff; margin: 0 auto; border-collapse: collapse;">
    <tbody>
        <tr style="padding: 0; background: #fff; font-size: 0;">
            <td colspan="3" width="700" style="padding: 0 0 10px; margin: 0; text-align: center;">
                <span style="text-align: center; font-family: 'Arial'; font-size: 12px; color: #938b8b;">Se você está tendo dificuldades para acessar o conteúdo no e-mail, tente a <a style="color: #222;" target="_blank" href="https://www.evviva.com.br/emkt/2021/04/index.html">versão online</a>.</span>
            </td>
        </tr>
        <tr style="padding: 0; background: #fff; font-size: 0;">
            <td colspan="3" width="700" style="padding: 0;">
                <a target="_blank" href="https://www.evviva.com.br" style="display: block; text-decoration: none; padding: 0; font-size: 0;">
                    <img src="https://www.evviva.com.br/emkt/2021/04/Emkt_Lado-a-Lado_Ranking-Abril_Fatiado_V2_01.jpg" alt="Top 20 | Março/Abril 2021. " style="border: 0; margin: 0; font-size: 0;" />
                </a>
            </td>
        </tr>
        <tr style="padding: 0; background: #fff; font-size: 0;">
            <td colspan="3" width="700" style="padding: 0;">
                <a target="_blank" href="https://www.evviva.com.br" style="display: block; text-decoration: none; padding: 0; font-size: 0;">
                    <img src="https://www.evviva.com.br/emkt/2021/04/Emkt_Lado-a-Lado_Ranking-Abril_Fatiado_V2_02.jpg" style="border: 0; margin: 0; font-size: 0;" />
                </a>
            </td>
        </tr>
        <tr style="padding: 0; background: #fff; font-size: 0;">
            <td colspan="3" width="700" style="padding: 0;">
                <a target="_blank" href="https://www.evviva.com.br" style="display: block; text-decoration: none; padding: 0; font-size: 0;">
                    <img src="https://www.evviva.com.br/emkt/2021/04/Emkt_Lado-a-Lado_Ranking-Abril_Fatiado_V2_03.jpg" style="border: 0; margin: 0; font-size: 0;" />
                </a>
            </td>
        </tr>
        <tr style="padding: 0; background: #fff; font-size: 0;">
            <td colspan="3" width="700" style="padding: 0;">
                <a target="_blank" href="https://www.evviva.com.br" style="display: block; text-decoration: none; padding: 0; font-size: 0;">
                    <img src="https://www.evviva.com.br/emkt/2021/04/Emkt_Lado-a-Lado_Ranking-Abril_Fatiado_V2_04.jpg" style="border: 0; margin: 0; font-size: 0;" />
                </a>
            </td>
        </tr>
        <tr style="padding: 0; background: #fff; font-size: 0;">
            <td colspan="3" width="700" style="padding: 0;">
                <a target="_blank" href="https://www.evviva.com.br" style="display: block; text-decoration: none; padding: 0; font-size: 0;">
                    <img src="https://www.evviva.com.br/emkt/2021/04/Emkt_Lado-a-Lado_Ranking-Abril_Fatiado_V2_05.jpg" style="border: 0; margin: 0; font-size: 0;" />
                </a>
            </td>
        </tr>
        <tr style="padding: 0; background: #fff; font-size: 0;">
            <td colspan="3" width="700" style="padding: 0;">
                <a target="_blank" href="https://www.evviva.com.br" style="display: block; text-decoration: none; padding: 0; font-size: 0;">
                    <img src="https://www.evviva.com.br/emkt/2021/04/Emkt_Lado-a-Lado_Ranking-Abril_Fatiado_V2_06.jpg" style="border: 0; margin: 0; font-size: 0;" />
                </a>
            </td>
        </tr>
        <tr style="padding: 0; background: #fff; font-size: 0;">
            <td colspan="3" width="700" style="padding: 0;">
                <a target="_blank" href="https://www.evviva.com.br" style="display: block; text-decoration: none; padding: 0; font-size: 0;">
                    <img src="https://www.evviva.com.br/emkt/2021/04/Emkt_Lado-a-Lado_Ranking-Abril_Fatiado_V2_07.jpg" style="border: 0; margin: 0; font-size: 0;" />
                </a>
            </td>
        </tr>
        <tr style="padding: 0; background: #fff; font-size: 0;">
            <td colspan="3" width="700" style="padding: 0;">
                <a target="_blank" href="https://www.evviva.com.br" style="display: block; text-decoration: none; padding: 0; font-size: 0;">
                    <img src="https://www.evviva.com.br/emkt/2021/04/Emkt_Lado-a-Lado_Ranking-Abril_Fatiado_V2_08.jpg" style="border: 0; margin: 0; font-size: 0;" />
                </a>
            </td>
        </tr>
        <tr style="padding: 0; background: #fff; font-size: 0;">
            <td width="354" style="padding: 0;">
                <a target="_blank" href="https://www.evviva.com.br" style="display: block; text-decoration: none; padding: 0; font-size: 0;">
                    <img src="https://www.evviva.com.br/emkt/2021/04/Emkt_Lado-a-Lado_Ranking-Abril_Fatiado_V2_09.jpg" style="border: 0; margin: 0; font-size: 0;" />
                </a>
            </td>
            <td width="346" style="padding: 0;">
                <a target="_blank" href="https://www.instagram.com/evvivaoficial" style="display: block; text-decoration: none; padding: 0; font-size: 0;">
                    <img src="https://www.evviva.com.br/emkt/2021/04/Emkt_Lado-a-Lado_Ranking-Abril_Fatiado_V2_10.jpg" alt="Instagram Evviva: https://www.instagram.com/evvivaoficial. " style="border: 0; margin: 0; font-size: 0;" />
                </a>
                <a target="_blank" href="https://www.facebook.com/evvivaoficial" style="display: block; text-decoration: none; padding: 0; font-size: 0;">
                    <img src="https://www.evviva.com.br/emkt/2021/04/Emkt_Lado-a-Lado_Ranking-Abril_Fatiado_V2_11.jpg" alt="Facebook Evviva: https://www.facebook.com/evvivaoficial." style="border: 0; margin: 0; font-size: 0;" />
                </a>
            </td>
        </tr>
    </tbody>
</table>