<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<span style="font-size: 0; color: #fff"></span>
<table width="700" style="font-size:0; width: 700px; background: #fff; margin: 0 auto; border-collapse: collapse; table-layout: fixed;">
    <tbody>
        <tr style="padding: 0; background: #fff; font-size: 0;">
            <td width="700" style="padding: 0 0 10px; margin: 0; text-align: center;">
                <span style="text-align: center; font-family: 'Arial'; font-size: 12px; color: #938b8b">Se você está tendo dificuldades para acessar o conteúdo no email, tente a <a style="color: #000;" target="_blank" href="https://www.evviva.com.br/emkt/2021/02/index.html">versão online</a>.</span>
            </td>
        </tr>
        <tr style="padding: 0; background: #fff; font-size: 0;">
            <td style="padding: 0;">
                <a target="_blank" href="https://www.evviva.com.br/?utm_source=newsletter&utm_medium=email&utm_campaign=casacorrj&utm_content=casacorrjlogo" style="display: block; text-decoration: none; padding:0; font-size: 0;">
                    <img src="https://www.evviva.com.br/emkt/2021/02/1.jpg" alt="" style="border: 0; margin: 0; font-size: 0;" />
                </a>
            </td>
        </tr>
        <tr style="padding: 0; background: #fff; font-size: 0;">
            <td style="padding: 0;">
                <a target="_blank" href="https://www.evviva.com.br/?utm_source=newsletter&utm_medium=email&utm_campaign=casacorrj&utm_content=casacorrjfoto" style="display: block; text-decoration: none; padding:0; font-size: 0;">
                    <img src="https://www.evviva.com.br/emkt/2021/02/2.jpg" alt="" style="border: 0; margin: 0; font-size: 0;" />
                </a>
            </td>
        </tr>
        <tr style="padding: 0; background: #fff; font-size: 0;">
            <td style="padding: 0;">
                <a target="_blank" href="https://www.evviva.com.br/?utm_source=newsletter&utm_medium=email&utm_campaign=casacorrj&utm_content=casacorrjtexto" style="display: block; text-decoration: none; padding:0; font-size: 0;">
                    <img src="https://www.evviva.com.br/emkt/2021/02/3.jpg" alt="" style="border: 0; margin: 0; font-size: 0;" />
                </a>
            </td>
        </tr>
        <tr style="padding: 0; background: #fff; font-size: 0;">
            <td style="padding: 0;">
                <img src="https://www.evviva.com.br/emkt/2021/02/4.jpg" alt="" style="border: 0; margin: 0; font-size: 0;" />
            </td>
        </tr>
        <tr style="padding: 0; background: #fff; font-size: 0;">
            <td style="padding: 0;">
                <a target="_blank" href="https://www.evviva.com.br/?utm_source=newsletter&utm_medium=email&utm_campaign=casacorrj&utm_content=casacorrjrodapesite" style="display: inline-block; text-decoration: none; padding:0; font-size: 0;">
                    <img src="https://www.evviva.com.br/emkt/2021/02/5.jpg" alt="Site Evviva" style="width: 258px; border: 0; margin: 0; font-size: 0;" />
                </a>
                <a target="_blank" href="https://www.instagram.com/evvivaoficial" style="display: inline-block; text-decoration: none; padding:0; font-size: 0;">
                    <img src="https://www.evviva.com.br/emkt/2021/02/6.jpg" alt="Instagram Evviva" style="width: 168px; border: 0; margin: 0; font-size: 0;" />
                </a>
                <a target="_blank" href="https://www.facebook.com/evvivaoficial" style="display: inline-block; text-decoration: none; padding:0; font-size: 0;">
                    <img src="https://www.evviva.com.br/emkt/2021/02/7.jpg" alt="Facebook Exacta Engenharia" style="width: 274px; border: 0; margin: 0; font-size: 0;" />
                </a>
            </td>
        </tr>
        <tr style="padding: 0; background: #fff; font-size: 0;">
            <td style="padding: 0;">
                <img src="https://www.evviva.com.br/emkt/2021/02/8.jpg" alt="" style="border: 0; margin: 0; font-size: 0;" />
            </td>
        </tr>
    </tbody>
</table>