<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<span style="font-size: 0; color: #fff">Unidos vamos ainda mais longe. O programa Vivencie Evviva tem como propósito aproximar os apaixonados por realizar sonhos, promovendo o compartilhamento de desafios e sucessos. Fortalecer o relacionamento com os arquitetos propicia uma relação única de parceria, beneficiando o reconhecimento da marca e o aumento na geração de vendas. Contamos com a sua participação para todos alcançarem 
    grandes conquistas. </span>
<table width="700" style="font-size:0; width: 700px; background: #fff; margin: 0 auto; border-collapse: collapse;">
    <tbody>
        <tr style="padding: 0; background: #fff; font-size: 0;">
            <td colspan="3" width="700" style="padding: 0 0 10px; margin: 0; text-align: center;">
                <span style="text-align: center; font-family: 'Arial'; font-size: 12px; color: #938b8b;">Se você está tendo dificuldades para acessar o conteúdo no e-mail, tente a <a style="color: #584632;" target="_blank" href="https://www.evviva.com.br/emkt/2021/10/index.html">versão online</a>.</span>
            </td>
        </tr>
        <tr style="padding: 0; background: #fff; font-size: 0;">
            <td colspan="3" width="700" style="padding: 0;">
                <a target="_blank" href="https://vivencie.evviva.com.br/customer/account/login" style="display: block; text-decoration: none; padding: 0; font-size: 0;">
                    <img alt="Vivencie Evviva. " src="https://www.evviva.com.br/emkt/2021/10/EMKT_vivencie-evviva_seq-01_V1_01.jpg" style="border: 0; margin: 0; font-size: 0;" />
                </a>
            </td>
        </tr>
        <tr style="padding: 0; background: #fff; font-size: 0;">
            <td colspan="3" width="700" style="padding: 0;">
                <a target="_blank" href="https://vivencie.evviva.com.br/customer/account/login" style="display: block; text-decoration: none; padding: 0; font-size: 0;">
                    <img alt="Imagem de barco. " src="https://www.evviva.com.br/emkt/2021/10/EMKT_vivencie-evviva_seq-01_V1_02.jpg" style="border: 0; margin: 0; font-size: 0;" />
                </a>
            </td>
        </tr>
        <tr style="padding: 0; background: #fff; font-size: 0;">
            <td colspan="3" width="700" style="padding: 0;">
                <a target="_blank" href="https://vivencie.evviva.com.br/customer/account/login" style="display: block; text-decoration: none; padding: 0; font-size: 0;">
                    <img alt="Unidos vamos ainda mais longe. O programa Vivencie Evviva tem como propósito aproximar os apaixonados por realizar sonhos, promovendo o compartilhamento de desafios e sucessos. Fortalecer o relacionamento com os arquitetos propicia uma relação única de parceria, beneficiando o reconhecimento da marca e o aumento na geração de vendas. Contamos com a sua participação para todos alcançarem 
                    grandes conquistas.
                    " src="https://www.evviva.com.br/emkt/2021/10/EMKT_vivencie-evviva_seq-01_V1_03.jpg" style="border: 0; margin: 0; font-size: 0;" />
                </a>
            </td>
        </tr>
        <tr style="padding: 0; background: #fff; font-size: 0;">
            <td colspan="3" width="700" style="padding: 0;">
                <a target="_blank" href="https://vivencie.evviva.com.br/customer/account/login" style="display: block; text-decoration: none; padding: 0; font-size: 0;">
                    <img alt="Para dúvidas e sugestões, entre em contato 
                    pelo e-mail sheila.bertolini@evviva.com.br
                    " src="https://www.evviva.com.br/emkt/2021/10/EMKT_vivencie-evviva_seq-01_V1_04.jpg" style="border: 0; margin: 0; font-size: 0;" />
                </a>
            </td>
        </tr>
        <tr style="padding: 0; background: #fff; font-size: 0;">
            <td colspan="3" width="700" style="padding: 0;">
                <a target="_blank" href="https://vivencie.evviva.com.br/customer/account/login" style="display: block; text-decoration: none; padding: 0; font-size: 0;">
                    <img alt="" src="https://www.evviva.com.br/emkt/2021/10/EMKT_vivencie-evviva_seq-01_V1_05.jpg" style="border: 0; margin: 0; font-size: 0;" />
                </a>
            </td>
        </tr>
        <tr style="padding: 0; background: #fff; font-size: 0;">
            <td width="354" style="padding: 0;">
                <a target="_blank" href="https://vivencie.evviva.com.br/customer/account/login" style="display: block; text-decoration: none; padding: 0; font-size: 0;">
                    <img src="https://www.evviva.com.br/emkt/2021/10/EMKT_vivencie-evviva_seq-01_V1_06.jpg" alt="Site Evviva: https://www.evviva.com.br. " style="border: 0; margin: 0; font-size: 0;" />
                </a>
            </td>
            <td width="346" style="padding: 0;">
                <a target="_blank" href="https://www.instagram.com/evvivaoficial" style="display: block; text-decoration: none; padding: 0; font-size: 0;">
                    <img src="https://www.evviva.com.br/emkt/2021/10/EMKT_vivencie-evviva_seq-01_V1_07.jpg" alt="Instagram Evviva: https://www.instagram.com/evvivaoficial. " style="border: 0; margin: 0; font-size: 0;" />
                </a>
                <a target="_blank" href="https://www.facebook.com/evvivaoficial" style="display: block; text-decoration: none; padding: 0; font-size: 0;">
                    <img src="https://www.evviva.com.br/emkt/2021/10/EMKT_vivencie-evviva_seq-01_V1_08.jpg" alt="Facebook Evviva: https://www.facebook.com/evvivaoficial." style="border: 0; margin: 0; font-size: 0;" />
                </a>
            </td>
        </tr>
    </tbody>
</table>