<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<span style="font-size: 0; color: #fff">Seja bem-vindo(a) à Evviva. Somos movidos pela paixão de criar experiências únicas e de transformar áreas com produtos que carregam em si o cuidado artesanal, a inteligência construtiva e a mais alta tecnologia.
    Criamos o sistema Sonata, a linha Anima e a primeira cozinha em aço inox do Brasil, da exclusiva linha INO. Tudo desenvolvido para levar mais autenticidade e inúmeras possibilidades de combinações para os espaços.
    Em breve, entraremos em contato para você conhecer mais sobre a nossa marca.</span>
<table width="700" style="font-size:0; width: 700px; background: #fff; margin: 0 auto; border-collapse: collapse;">
    <tbody>
        <tr style="padding: 0; background: #fff; font-size: 0;">
            <td colspan="3" width="700" style="padding: 0 0 10px; margin: 0; text-align: center;">
                <span style="text-align: center; font-family: 'Arial'; font-size: 12px; color: #938b8b;">Se você está tendo dificuldades para acessar o conteúdo no e-mail, tente a <a style="color: #584632;" target="_blank" href="https://www.evviva.com.br/emkt/2021/20/index.html">versão online</a>.</span>
            </td>
        </tr>
        <tr style="padding: 0; background: #fff; font-size: 0;">
            <td colspan="3" width="700" style="padding: 0;">
                <a target="_blank" href="https://www.evviva.com.br" style="display: block; text-decoration: none; padding: 0; font-size: 0;">
                    <img alt="Seja bem-vindo(a) à Evviva. " src="https://www.evviva.com.br/emkt/2021/20/[Casa-Cor]-Email-mkt-leads-V1_27jul-Fatiada_01.png" style="border: 0; margin: 0; font-size: 0;" />
                </a>
            </td>
        </tr>
        <tr style="padding: 0; background: #fff; font-size: 0;">
            <td colspan="3" width="700" style="padding: 0;">
                <a target="_blank" href="https://www.evviva.com.br" style="display: block; text-decoration: none; padding: 0; font-size: 0;">
                    <img alt="Imagem. " src="https://www.evviva.com.br/emkt/2021/20/[Casa-Cor]-Email-mkt-leads-V1_27jul-Fatiada_02.png" style="border: 0; margin: 0; font-size: 0;" />
                </a>
            </td>
        </tr>
        <tr style="padding: 0; background: #fff; font-size: 0;">
            <td colspan="3" width="700" style="padding: 0;">
                <a target="_blank" href="https://www.evviva.com.br" style="display: block; text-decoration: none; padding: 0; font-size: 0;">
                    <img alt="Logo Evviva. " src="https://www.evviva.com.br/emkt/2021/20/[Casa-Cor]-Email-mkt-leads-V1_27jul-Fatiada_03.png" style="border: 0; margin: 0; font-size: 0;" />
                </a>
            </td>
        </tr>
        <tr style="padding: 0; background: #fff; font-size: 0;">
            <td colspan="3" width="700" style="padding: 0;">
                <a target="_blank" href="https://www.evviva.com.br" style="display: block; text-decoration: none; padding: 0; font-size: 0;">
                    <img alt="Bem-vindo(a) à Evviva!. " src="https://www.evviva.com.br/emkt/2021/20/[Casa-Cor]-Email-mkt-leads-V1_27jul-Fatiada_04.png" style="border: 0; margin: 0; font-size: 0;" />
                </a>
            </td>
        </tr>
        <tr style="padding: 0; background: #fff; font-size: 0;">
            <td colspan="3" width="700" style="padding: 0;">
                <a target="_blank" href="https://www.evviva.com.br" style="display: block; text-decoration: none; padding: 0; font-size: 0;">
                    <img alt="Somos movidos pela paixão de criar experiências únicas e de transformar áreas com produtos que carregam em si o cuidado artesanal, a inteligência construtiva e a mais alta tecnologia.
                    Criamos o sistema Sonata, a linha Anima e a primeira cozinha em aço inox do Brasil, da exclusiva linha INO. Tudo desenvolvido para levar mais autenticidade e inúmeras possibilidades de combinações para os espaços.
                    Em breve, entraremos em contato para você conhecer mais sobre a nossa marca. " src="https://www.evviva.com.br/emkt/2021/20/[Casa-Cor]-Email-mkt-leads-V1_27jul-Fatiada_05.png" style="border: 0; margin: 0; font-size: 0;" />
                </a>
            </td>
        </tr>
        <tr style="padding: 0; background: #fff; font-size: 0;">
            <td width="354" style="padding: 0;">
                <a target="_blank" href="https://www.instagram.com/evvivaoficial/" style="display: inline-block; text-decoration: none; padding: 0; font-size: 0;">
                    <img src="https://www.evviva.com.br/emkt/2021/20/[Casa-Cor]-Email-mkt-leads-V1_27jul-Fatiada_06.png" alt="Instagram Evviva: https://www.instagram.com/evvivaoficial/. " style="border: 0; margin: 0; font-size: 0;" />
                </a>
                <a target="_blank" href="https://www.facebook.com/evvivaoficial" style="display: inline-block; text-decoration: none; padding: 0; font-size: 0;">
                    <img src="https://www.evviva.com.br/emkt/2021/20/[Casa-Cor]-Email-mkt-leads-V1_27jul-Fatiada_07.png" alt="Facebook Evviva: https://www.facebook.com/evvivaoficial." style="border: 0; margin: 0; font-size: 0;" />
                </a>
                <a target="_blank" href="https://www.evviva.com.br" style="display: inline-block; text-decoration: none; padding: 0; font-size: 0;">
                    <img src="https://www.evviva.com.br/emkt/2021/20/[Casa-Cor]-Email-mkt-leads-V1_27jul-Fatiada_08.png" alt="Site Evviva: https://www.evviva.com.br. " style="border: 0; margin: 0; font-size: 0;" />
                </a>               
            </td>
        </tr>
    </tbody>
</table>