<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<span style="font-size: 0; color: #fff">CASACOR SP. Casa LG ThinQ. O espaço busca disseminar um método construtivo sustentável, trazendo produtos que alinham design, inteligência artificial, sustentabilidade e cuidado com a saúde. Com isso, propõe um novo jeito de viver e interagir com o habitar. the bar.com Ana Paula e A Claudia Nonato Dois A Arquitetura e Interiores. </span>
<table width="700" style="font-size:0; width: 700px; background: #fff; margin: 0 auto; border-collapse: collapse;">
    <tbody>
        <tr style="padding: 0; background: #fff; font-size: 0;">
            <td colspan="3" width="700" style="padding: 0 0 10px; margin: 0; text-align: center;">
                <span style="text-align: center; font-family: 'Arial'; font-size: 12px; color: #938b8b;">Se você está tendo dificuldades para acessar o conteúdo no e-mail, tente a <a style="color: #584632;" target="_blank" href="https://www.evviva.com.br/emkt/2021/14/index.html">versão online</a>.</span>
            </td>
        </tr>
        <tr style="padding: 0; background: #fff; font-size: 0;">
            <td colspan="3" width="700" style="padding: 0;">              
                <img alt="CASACOR SP. Casa LG ThinQ. Estudio Guto Requena com Pax.Arq. " src="https://www.evviva.com.br/emkt/2021/14/emkt_espacos_evviva-V3_01.jpg" style="border: 0; margin: 0; font-size: 0;" />               
            </td>
        </tr>
        <tr style="padding: 0; background: #fff; font-size: 0;">
            <td colspan="3" width="700" style="padding: 0;">
                <a target="_blank" href="https://youtu.be/rr76KI3uzQ0" style="display: block; text-decoration: none; padding: 0; font-size: 0;">
                    <img alt="Foto. " src="https://www.evviva.com.br/emkt/2021/14/emkt_espacos_evviva-V3_02.jpg" style="border: 0; margin: 0; font-size: 0;" />
                </a>
            </td>
        </tr>
        <tr style="padding: 0; background: #fff; font-size: 0;">
            <td colspan="3" width="700" style="padding: 0;">
                <img alt="O espaço busca disseminar um método construtivo sustentável, trazendo produtos que alinham design, inteligência artificial, sustentabilidade e cuidado com a saúde. Com isso, propõe um novo jeito de viver e interagir com o habitar. the bar.com Ana Paula e A Claudia Nonato Dois A Arquitetura e Interiores. " src="https://www.evviva.com.br/emkt/2021/14/emkt_espacos_evviva-V3_03.jpg" style="border: 0; margin: 0; font-size: 0;" />             
            </td>
        </tr>
        <tr style="padding: 0; background: #fff; font-size: 0;">
            <td colspan="3" width="700" style="padding: 0;">
                <a target="_blank" href="https://youtu.be/UlQ9NxjSULI" style="display: block; text-decoration: none; padding: 0; font-size: 0;">
                    <img alt="Estreando na mostra, as arquitetas apresentam um ambiente convidativo, aconchegante, com visual marcante e que evidencia elementos naturais. " src="https://www.evviva.com.br/emkt/2021/14/emkt_espacos_evviva-V3_04.jpg" style="border: 0; margin: 0; font-size: 0;" />
                </a>
            </td>
        </tr>
        <tr style="padding: 0; background: #fff; font-size: 0;">
            <td colspan="3" width="700" style="padding: 0;">               
                <img alt="A mostra CASACOR São Paulo 2021 acontece até o dia 15 de novembro no Parque Mirante. " src="https://www.evviva.com.br/emkt/2021/14/emkt_espacos_evviva-V3_05.jpg" style="border: 0; margin: 0; font-size: 0;" />              
            </td>
        </tr>
        <tr style="padding: 0; background: #fff; font-size: 0;">
            <td colspan="3" width="700" style="padding: 0;">
                <img alt="Conheça mais detalhes! " src="https://www.evviva.com.br/emkt/2021/14/emkt_espacos_evviva-V3_06.jpg" style="border: 0; margin: 0; font-size: 0;" />
            </td>
        </tr>
        <tr style="padding: 0; background: #fff; font-size: 0;">
            <td width="354" style="padding: 0;">
                <a target="_blank" href="https://www.instagram.com/evvivaoficial/" style="display: block; text-decoration: none; padding: 0; font-size: 0;">
                    <img src="https://www.evviva.com.br/emkt/2021/14/emkt_espacos_evviva-V3_07.jpg" alt="Site Evviva: https://www.evviva.com.br. " style="border: 0; margin: 0; font-size: 0;" />
                </a>
            </td>
            <td width="346" style="padding: 0;">
                <a target="_blank" href="https://www.instagram.com/evvivaoficial" style="display: block; text-decoration: none; padding: 0; font-size: 0;">
                    <img src="https://www.evviva.com.br/emkt/2021/14/emkt_espacos_evviva-V3_08.jpg" alt="Instagram Evviva: https://www.instagram.com/evvivaoficial. " style="border: 0; margin: 0; font-size: 0;" />
                </a>
                <a target="_blank" href="https://www.facebook.com/evvivaoficial" style="display: block; text-decoration: none; padding: 0; font-size: 0;">
                    <img src="https://www.evviva.com.br/emkt/2021/14/emkt_espacos_evviva-V3_09.jpg" alt="Facebook Evviva: https://www.facebook.com/evvivaoficial." style="border: 0; margin: 0; font-size: 0;" />
                </a>
            </td>
        </tr>
    </tbody>
</table>