<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<span style="font-size: 0; color: #fff">Uma parceria única. O relacionamento é uma ligação que une pessoas com os mesmos objetivos, tendo como base o respeito, a confiança, a empatia
    e o desejo de evoluir em conjunto.  Com esse propósito, o Vivencie Evviva busca fortalecer relações, proporcionar a troca de experiências e propiciar excelentes negócios. Estamos com você em todos os desafios e sucessos! </span>
<table width="700" style="font-size:0; width: 700px; background: #fff; margin: 0 auto; border-collapse: collapse;">
    <tbody>
        <tr style="padding: 0; background: #fff; font-size: 0;">
            <td colspan="3" width="700" style="padding: 0 0 10px; margin: 0; text-align: center;">
                <span style="text-align: center; font-family: 'Arial'; font-size: 12px; color: #938b8b;">Se você está tendo dificuldades para acessar o conteúdo no e-mail, tente a <a style="color: #584632;" target="_blank" href="https://www.evviva.com.br/emkt/2021/17/index.html">versão online</a>.</span>
            </td>
        </tr>
        <tr style="padding: 0; background: #fff; font-size: 0;">
            <td colspan="3" width="700" style="padding: 0;">
                <a target="_blank" href="https://vivencie.evviva.com.br/customer/account/login" style="display: block; text-decoration: none; padding: 0; font-size: 0;">
                    <img alt="Vivencie Evviva. " src="https://www.evviva.com.br/emkt/2021/17/EMKT_vivencie-evviva-especificadores_seq-01_V2_01.jpg" style="border: 0; margin: 0; font-size: 0;" />
                </a>
            </td>
        </tr>
        <tr style="padding: 0; background: #fff; font-size: 0;">
            <td colspan="3" width="700" style="padding: 0;">
                <a target="_blank" href="https://vivencie.evviva.com.br/customer/account/login" style="display: block; text-decoration: none; padding: 0; font-size: 0;">
                    <img alt="Uma parceria única. " src="https://www.evviva.com.br/emkt/2021/17/EMKT_vivencie-evviva-especificadores_seq-01_V2_02.jpg" style="border: 0; margin: 0; font-size: 0;" />
                </a>
            </td>
        </tr>
        <tr style="padding: 0; background: #fff; font-size: 0;">
            <td colspan="3" width="700" style="padding: 0;">
                <a target="_blank" href="https://vivencie.evviva.com.br/customer/account/login" style="display: block; text-decoration: none; padding: 0; font-size: 0;">
                    <img alt="O relacionamento é uma ligação que une pessoas com os mesmos objetivos, tendo como base o respeito, a confiança, a empatia
                    e o desejo de evoluir em conjunto.  Com esse propósito, o Vivencie Evviva busca fortalecer relações, proporcionar a troca de experiências e propiciar excelentes negócios. Estamos com você em todos os desafios e sucessos!. " src="https://www.evviva.com.br/emkt/2021/17/EMKT_vivencie-evviva-especificadores_seq-01_V2_03.jpg" style="border: 0; margin: 0; font-size: 0;" />
                </a>
            </td>
        </tr>
        <tr style="padding: 0; background: #fff; font-size: 0;">
            <td colspan="3" width="700" style="padding: 0;">
                <a target="_blank" href="https://vivencie.evviva.com.br/customer/account/login" style="display: block; text-decoration: none; padding: 0; font-size: 0;">
                    <img alt="Acessar o site do programa. " src="https://www.evviva.com.br/emkt/2021/17/EMKT_vivencie-evviva-especificadores_seq-01_V2_04.jpg" style="border: 0; margin: 0; font-size: 0;" />
                </a>
            </td>
        </tr>
        <tr style="padding: 0; background: #fff; font-size: 0;">
            <td colspan="3" width="700" style="padding: 0;">
                <a target="_blank" href="https://vivencie.evviva.com.br/customer/account/login" style="display: block; text-decoration: none; padding: 0; font-size: 0;">
                    <img alt="" src="https://www.evviva.com.br/emkt/2021/17/EMKT_vivencie-evviva-especificadores_seq-01_V2_05.jpg" style="border: 0; margin: 0; font-size: 0;" />
                </a>
            </td>
        </tr>
        <tr style="padding: 0; background: #fff; font-size: 0;">
            <td width="354" style="padding: 0;">
                <a target="_blank" href="https://www.evviva.com.br" style="display: block; text-decoration: none; padding: 0; font-size: 0;">
                    <img src="https://www.evviva.com.br/emkt/2021/17/EMKT_vivencie-evviva-especificadores_seq-01_V2_06.jpg" alt="Site Evviva: https://www.evviva.com.br. " style="border: 0; margin: 0; font-size: 0;" />
                </a>
            </td>
            <td width="346" style="padding: 0;">
                <a target="_blank" href="https://www.instagram.com/evvivaoficial" style="display: block; text-decoration: none; padding: 0; font-size: 0;">
                    <img src="https://www.evviva.com.br/emkt/2021/17/EMKT_vivencie-evviva-especificadores_seq-01_V2_07.jpg" alt="Instagram Evviva: https://www.instagram.com/evvivaoficial. " style="border: 0; margin: 0; font-size: 0;" />
                </a>
                <a target="_blank" href="https://www.facebook.com/evvivaoficial" style="display: block; text-decoration: none; padding: 0; font-size: 0;">
                    <img src="https://www.evviva.com.br/emkt/2021/17/EMKT_vivencie-evviva-especificadores_seq-01_V2_08.jpg" alt="Facebook Evviva: https://www.facebook.com/evvivaoficial." style="border: 0; margin: 0; font-size: 0;" />
                </a>
            </td>
        </tr>
    </tbody>
</table>