<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<span style="font-size: 0; color: #fff">Novidade quentinha chegando aqui na EVVIVA! Agora, temos um novo meio de comunicação interna, que chegou para não deixar nenhum detalhe passar em branco. </span>
<table width="700" style="font-size:0; width: 700px; background: #fff; margin: 0 auto; border-collapse: collapse;">
    <tbody>
        <tr style="padding: 0; background: #fff; font-size: 0;">
            <td colspan="3" width="700" style="padding: 0 0 10px; margin: 0; text-align: center;">
                <span style="text-align: center; font-family: 'Arial'; font-size: 12px; color: #938b8b;">Se você está tendo dificuldades para acessar o conteúdo no e-mail, tente a <a style="color: #222;" target="_blank" href="https://www.evviva.com.br/emkt/2021/06/index.html">versão online</a>.</span>
            </td>
        </tr>
        <tr style="padding: 0; background: #fff; font-size: 0;">
            <td colspan="3" width="700" style="padding: 0;">
                <a target="_blank" href="https://www.evviva.com.br" style="display: block; text-decoration: none; padding: 0; font-size: 0;">
                    <img alt="Conecte-se: Evviva - 001/Maio 2021. " src="https://www.evviva.com.br/emkt/2021/06/Newsletter-Interna_Apresentacao_1_AF_01.jpg" style="border: 0; margin: 0; font-size: 0;" />
                </a>
            </td>
        </tr>
        <tr style="padding: 0; background: #fff; font-size: 0;">
            <td colspan="3" width="700" style="padding: 0;">
                <a target="_blank" href="https://www.evviva.com.br" style="display: block; text-decoration: none; padding: 0; font-size: 0;">
                    <img alt="Fique por dentro das novidades. " src="https://www.evviva.com.br/emkt/2021/06/Newsletter-Interna_Apresentacao_1_AF_02.jpg" style="border: 0; margin: 0; font-size: 0;" />
                </a>
            </td>
        </tr>
        <tr style="padding: 0; background: #fff; font-size: 0;">
            <td colspan="3" width="700" style="padding: 0;">
                <a target="_blank" href="https://www.evviva.com.br" style="display: block; text-decoration: none; padding: 0; font-size: 0;">
                    <img alt="Chegou o novo canal de comunicação da Evviva. " src="https://www.evviva.com.br/emkt/2021/06/Newsletter-Interna_Apresentacao_1_AF_03.jpg" style="border: 0; margin: 0; font-size: 0;" />
                </a>
            </td>
        </tr>
        <tr style="padding: 0; background: #fff; font-size: 0;">
            <td colspan="3" width="700" style="padding: 0;">
                <a target="_blank" href="https://www.evviva.com.br" style="display: block; text-decoration: none; padding: 0; font-size: 0;">
                    <img alt="Novidade quentinha chegando aqui na EVVIVA! Agora, temos um novo meio de comunicação interna, que chegou para não deixar nenhum detalhe passar em branco. " src="https://www.evviva.com.br/emkt/2021/06/Newsletter-Interna_Apresentacao_1_AF_04.jpg" style="border: 0; margin: 0; font-size: 0;" />
                </a>
            </td>
        </tr>
        <tr style="padding: 0; background: #fff; font-size: 0;">
            <td colspan="3" width="700" style="padding: 0;">
                <a target="_blank" href="https://www.evviva.com.br" style="display: block; text-decoration: none; padding: 0; font-size: 0;">
                    <img alt="A partir de hoje, você receberá em sua caixa de email o Conecte-se EVVIVA. O informativo traz todas as mudanças de produtos, lançamentos, mudanças e implantação de políticas, novos materiais de marketing disponíveis, releases de imprensa, instruções de ações, resultados de ações, novos processos entre outras informações. O Conecte-se EVVIVA também foi desenvolvido para escutar você, caso tenha alguma sugestão ou dúvida entre em contato por meio deste canal de comunicação. " src="https://www.evviva.com.br/emkt/2021/06/Newsletter-Interna_Apresentacao_1_AF_05.jpg" style="border: 0; margin: 0; font-size: 0;" />
                </a>
            </td>
        </tr>
        <tr style="padding: 0; background: #fff; font-size: 0;">
            <td colspan="3" width="700" style="padding: 0;">
                <a target="_blank" href="https://www.evviva.com.br" style="display: block; text-decoration: none; padding: 0; font-size: 0;">
                    <img alt="Periodicidade: Não haverá periodicidade. O informativo será enviado sempre e quando for necessário, e será identificado com o número da edição, e o mês e ano de disparo. Todas as edições estarão sempre disponíveis na Extranet, que você conhecerá em seguida. " src="https://www.evviva.com.br/emkt/2021/06/Newsletter-Interna_Apresentacao_1_AF_06.jpg" style="border: 0; margin: 0; font-size: 0;" />
                </a>
            </td>
        </tr>
        <tr style="padding: 0; background: #fff; font-size: 0;">
            <td colspan="3" width="700" style="padding: 0;">
                <a target="_blank" href="https://www.evviva.com.br" style="display: block; text-decoration: none; padding: 0; font-size: 0;">
                    <img alt="Importante: Este informativo é de caráter interno, ou seja, os assuntos abordados devem ser de conhecimento da fábrica e lojas da rede somente. Não deve, em nenhuma circunstância, ser utilizado como material de comunicação com clientes e outros usuários.. " src="https://www.evviva.com.br/emkt/2021/06/Newsletter-Interna_Apresentacao_1_AF_07.jpg" style="border: 0; margin: 0; font-size: 0;" />
                </a>
            </td>
        </tr>
        <tr style="padding: 0; background: #fff; font-size: 0;">
            <td colspan="3" width="700" style="padding: 0;">
                <a target="_blank" href="https://www.evviva.com.br" style="display: block; text-decoration: none; padding: 0; font-size: 0;">
                    <img alt="Continue acompanhando! " src="https://www.evviva.com.br/emkt/2021/06/Newsletter-Interna_Apresentacao_1_AF_08.jpg" style="border: 0; margin: 0; font-size: 0;" />
                </a>
            </td>
        </tr>
        <tr style="padding: 0; background: #fff; font-size: 0;">
            <td colspan="3" width="700" style="padding: 0;">
                <a target="_blank" href="mailto:marketing@evviva.com.br" style="display: block; text-decoration: none; padding: 0; font-size: 0;">
                    <img alt="Compartilhe notícias da sua região pelo e-mail marketing@evviva.com.br. " src="https://www.evviva.com.br/emkt/2021/06/Newsletter-Interna_Apresentacao_1_AF_09.jpg" style="border: 0; margin: 0; font-size: 0;" />
                </a>
            </td>
        </tr>
        <tr style="padding: 0; background: #fff; font-size: 0;">
            <td colspan="3" width="700" style="padding: 0;">
                <a target="_blank" href="mailto:evviva@bvzagencia.com.br" style="display: block; text-decoration: none; padding: 0; font-size: 0;">
                    <img alt="Envie fotos e informações sobre os seus projetos para serem publicados nas redes sociais da Evviva. Compartilhe através do e-mail evviva@bvzagencia.com.br. " src="https://www.evviva.com.br/emkt/2021/06/Newsletter-Interna_Apresentacao_1_AF_10.jpg" style="border: 0; margin: 0; font-size: 0;" />
                </a>
            </td>
        </tr>
        <tr style="padding: 0; background: #fff; font-size: 0;">
            <td width="354" style="padding: 0;">
                <a target="_blank" href="https://www.evviva.com.br" style="display: block; text-decoration: none; padding: 0; font-size: 0;">
                    <img src="https://www.evviva.com.br/emkt/2021/06/Newsletter-Interna_Apresentacao_1_AF_11.jpg" alt="Site Evviva: https://www.evviva.com.br. " style="border: 0; margin: 0; font-size: 0;" />
                </a>
            </td>
            <td width="346" style="padding: 0;">
                <a target="_blank" href="https://www.instagram.com/evvivaoficial" style="display: block; text-decoration: none; padding: 0; font-size: 0;">
                    <img src="https://www.evviva.com.br/emkt/2021/06/Newsletter-Interna_Apresentacao_1_AF_12.jpg" alt="Instagram Evviva: https://www.instagram.com/evvivaoficial. " style="border: 0; margin: 0; font-size: 0;" />
                </a>
                <a target="_blank" href="https://www.facebook.com/evvivaoficial" style="display: block; text-decoration: none; padding: 0; font-size: 0;">
                    <img src="https://www.evviva.com.br/emkt/2021/06/Newsletter-Interna_Apresentacao_1_AF_13.jpg" alt="Facebook Evviva: https://www.facebook.com/evvivaoficial." style="border: 0; margin: 0; font-size: 0;" />
                </a>
            </td>
        </tr>
    </tbody>
</table>