<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<span style="font-size: 0; color: #fff">Vamos compartilhar conquistas. O período de especificação dos seus pontos no programa de relacionamento Vivencie termina no dia 28 de fevereiro de 2022. Por isso, continue realizando os seus projetos com os lojistas Evviva. Para saber a sua pontuação atual e a quantidade faltante para você viver momentos únicos no seu destino, basta efetuar o login no site do programa. </span>
<table width="700" style="font-size:0; width: 700px; background: #fff; margin: 0 auto; border-collapse: collapse;">
    <tbody>
        <tr style="padding: 0; background: #fff; font-size: 0;">
            <td colspan="3" width="700" style="padding: 0 0 10px; margin: 0; text-align: center;">
                <span style="text-align: center; font-family: 'Arial'; font-size: 12px; color: #938b8b;">Se você está tendo dificuldades para acessar o conteúdo no e-mail, tente a <a style="color: #584632;" target="_blank" href="https://www.evviva.com.br/emkt/2021/16/index.html">versão online</a>.</span>
            </td>
        </tr>
        <tr style="padding: 0; background: #fff; font-size: 0;">
            <td colspan="3" width="700" style="padding: 0;">
                <a target="_blank" href="https://vivencie.evviva.com.br/customer/account/login/" style="display: block; text-decoration: none; padding: 0; font-size: 0;">
                    <img alt="Vivencie Evviva. " src="https://www.evviva.com.br/emkt/2021/16/EMKT_vivencie-evviva-engajamento_V1_01.jpg" style="border: 0; margin: 0; font-size: 0;" />
                </a>
            </td>
        </tr>
        <tr style="padding: 0; background: #fff; font-size: 0;">
            <td colspan="3" width="700" style="padding: 0;">
                <a target="_blank" href="https://vivencie.evviva.com.br/customer/account/login/" style="display: block; text-decoration: none; padding: 0; font-size: 0;">
                    <img alt="Vamos compartilhar conquistas. " src="https://www.evviva.com.br/emkt/2021/16/EMKT_vivencie-evviva-engajamento_V1_02.jpg" style="border: 0; margin: 0; font-size: 0;" />
                </a>
            </td>
        </tr>
        <tr style="padding: 0; background: #fff; font-size: 0;">
            <td colspan="3" width="700" style="padding: 0;">
                <a target="_blank" href="https://vivencie.evviva.com.br/customer/account/login/" style="display: block; text-decoration: none; padding: 0; font-size: 0;">
                    <img alt="O período de especificação dos seus pontos no programa de relacionamento Vivencie termina no dia 28 de fevereiro de 2022. Por isso, continue realizando os seus projetos com os lojistas Evviva. Para saber a sua pontuação atual e a quantidade faltante para você viver momentos únicos no seu destino, basta efetuar o login no site do programa. " src="https://www.evviva.com.br/emkt/2021/16/EMKT_vivencie-evviva-engajamento_V1_03.jpg" style="border: 0; margin: 0; font-size: 0;" />
                </a>
            </td>
        </tr>
        <tr style="padding: 0; background: #fff; font-size: 0;">
            <td colspan="3" width="700" style="padding: 0;">
                <a target="_blank" href="https://vivencie.evviva.com.br/customer/account/login/" style="display: block; text-decoration: none; padding: 0; font-size: 0;">
                    <img alt="Verificar a pontuação no site. " src="https://www.evviva.com.br/emkt/2021/16/EMKT_vivencie-evviva-engajamento_V1_04.jpg" style="border: 0; margin: 0; font-size: 0;" />
                </a>
            </td>
        </tr>
        <tr style="padding: 0; background: #fff; font-size: 0;">
            <td colspan="3" width="700" style="padding: 0;">
                <a target="_blank" href="https://vivencie.evviva.com.br/customer/account/login/" style="display: block; text-decoration: none; padding: 0; font-size: 0;">
                    <img alt="Para dúvidas e sugestões, entre em contato pelo e-mail relacionamento@evviva.com.br. " src="https://www.evviva.com.br/emkt/2021/16/EMKT_vivencie-evviva-engajamento_V1_05.jpg" style="border: 0; margin: 0; font-size: 0;" />
                </a>
            </td>
        </tr>
        <tr style="padding: 0; background: #fff; font-size: 0;">
            <td width="354" style="padding: 0;">
                <a target="_blank" href="https://www.evviva.com.br" style="display: block; text-decoration: none; padding: 0; font-size: 0;">
                    <img src="https://www.evviva.com.br/emkt/2021/16/EMKT_vivencie-evviva-engajamento_V1_06.jpg" alt="Site Evviva: https://www.evviva.com.br. " style="border: 0; margin: 0; font-size: 0;" />
                </a>
            </td>
            <td width="346" style="padding: 0;">
                <a target="_blank" href="https://www.instagram.com/evvivaoficial" style="display: block; text-decoration: none; padding: 0; font-size: 0;">
                    <img src="https://www.evviva.com.br/emkt/2021/16/EMKT_vivencie-evviva-engajamento_V1_07.jpg" alt="Instagram Evviva: https://www.instagram.com/evvivaoficial. " style="border: 0; margin: 0; font-size: 0;" />
                </a>
                <a target="_blank" href="https://www.facebook.com/evvivaoficial" style="display: block; text-decoration: none; padding: 0; font-size: 0;">
                    <img src="https://www.evviva.com.br/emkt/2021/16/EMKT_vivencie-evviva-engajamento_V1_08.jpg" alt="Facebook Evviva: https://www.facebook.com/evvivaoficial." style="border: 0; margin: 0; font-size: 0;" />
                </a>
            </td>
        </tr>
    </tbody>
</table>