<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<span style="font-size: 0; color: #fff">Alcance novas conquistas. O programa de relacionamento Vivencie Evviva visa o fortalecimento de parcerias, além de proporcionar prêmios. </span>
<table width="700" style="font-size:0; width: 700px; background: #fff; margin: 0 auto; border-collapse: collapse;">
    <tbody>
        <tr style="padding: 0; background: #fff; font-size: 0;">
            <td colspan="3" width="700" style="padding: 0 0 10px; margin: 0; text-align: center;">
                <span style="text-align: center; font-family: 'Arial'; font-size: 12px; color: #938b8b;">Se você está tendo dificuldades para acessar o conteúdo no e-mail, tente a <a style="color: #584632;" target="_blank" href="https://www.evviva.com.br/emkt/2021/18/index.html">versão online</a>.</span>
            </td>
        </tr>
        <tr style="padding: 0; background: #fff; font-size: 0;">
            <td colspan="3" width="700" style="padding: 0;">
                <a target="_blank" href="https://vivencie.evviva.com.br/customer/account/login" style="display: block; text-decoration: none; padding: 0; font-size: 0;">
                    <img alt="Vivencie Evviva. " src="https://www.evviva.com.br/emkt/2021/18/EMKT_vivencie-evviva-especificadores_seq-02_V2_01.jpg" style="border: 0; margin: 0; font-size: 0;" />
                </a>
            </td>
        </tr>
        <tr style="padding: 0; background: #fff; font-size: 0;">
            <td colspan="3" width="700" style="padding: 0;">
                <a target="_blank" href="https://vivencie.evviva.com.br/customer/account/login" style="display: block; text-decoration: none; padding: 0; font-size: 0;">
                    <img alt="Alcance novas conquistas. " src="https://www.evviva.com.br/emkt/2021/18/EMKT_vivencie-evviva-especificadores_seq-02_V2_02.jpg" style="border: 0; margin: 0; font-size: 0;" />
                </a>
            </td>
        </tr>
        <tr style="padding: 0; background: #fff; font-size: 0;">
            <td colspan="3" width="700" style="padding: 0;">
                <a target="_blank" href="https://vivencie.evviva.com.br/customer/account/login" style="display: block; text-decoration: none; padding: 0; font-size: 0;">
                    <img alt="O programa de relacionamento Vivencie Evviva visa o fortalecimento de parcerias, além de proporcionar prêmios. " src="https://www.evviva.com.br/emkt/2021/18/EMKT_vivencie-evviva-especificadores_seq-02_V2_03.jpg" style="border: 0; margin: 0; font-size: 0;" />
                </a>
            </td>
        </tr>
        <tr style="padding: 0; background: #fff; font-size: 0;">
            <td colspan="3" width="700" style="padding: 0;">
                <a target="_blank" href="https://vivencie.evviva.com.br/customer/account/login" style="display: block; text-decoration: none; padding: 0; font-size: 0;">
                    <img alt="Destinos: Vila Galé Cumbuco Caucaia - CE 450.000 pontos. 4 noites | Hotel 5 estrelas I All inclusive. " src="https://www.evviva.com.br/emkt/2021/18/EMKT_vivencie-evviva-especificadores_seq-02_V2_04.jpg" style="border: 0; margin: 0; font-size: 0;" />
                </a>
            </td>
        </tr>
        <tr style="padding: 0; background: #fff; font-size: 0;">
            <td colspan="3" width="700" style="padding: 0;">
                <a target="_blank" href="https://vivencie.evviva.com.br/customer/account/login" style="display: block; text-decoration: none; padding: 0; font-size: 0;">
                    <img alt="Kûara Hotel Boutique Arraial D’Ajuda - BA 700.000 pontos. 4 noites | Hotel 5 estrelas I All inclusive. " src="https://www.evviva.com.br/emkt/2021/18/EMKT_vivencie-evviva-especificadores_seq-02_V2_05.jpg" style="border: 0; margin: 0; font-size: 0;" />
                </a>
            </td>
        </tr>

        <tr style="padding: 0; background: #fff; font-size: 0;">
            <td colspan="3" width="700" style="padding: 0;">
                <a target="_blank" href="https://vivencie.evviva.com.br/customer/account/login" style="display: block; text-decoration: none; padding: 0; font-size: 0;">
                    <img alt="Valência - Espanha 1.000.000 pontos. 6 noites | Hotel 4 estrelas. " src="https://www.evviva.com.br/emkt/2021/18/EMKT_vivencie-evviva-especificadores_seq-02_V2_06.jpg" style="border: 0; margin: 0; font-size: 0;" />
                </a>
            </td>
        </tr>
        <tr style="padding: 0; background: #fff; font-size: 0;">
            <td colspan="3" width="700" style="padding: 0;">
                <a target="_blank" href="https://vivencie.evviva.com.br/customer/account/login" style="display: block; text-decoration: none; padding: 0; font-size: 0;">
                    <img alt="Continue especificando para alcançar as pontuações necessárias e viver experiências únicas ao lado da Evviva. " src="https://www.evviva.com.br/emkt/2021/18/EMKT_vivencie-evviva-especificadores_seq-02_V2_07.jpg" style="border: 0; margin: 0; font-size: 0;" />
                </a>
            </td>
        </tr>
        <tr style="padding: 0; background: #fff; font-size: 0;">
            <td colspan="3" width="700" style="padding: 0;">
                <a target="_blank" href="https://vivencie.evviva.com.br/customer/account/login" style="display: block; text-decoration: none; padding: 0; font-size: 0;">
                    <img alt="Acessar o site do programa. " src="https://www.evviva.com.br/emkt/2021/18/EMKT_vivencie-evviva-especificadores_seq-02_V2_08.jpg" style="border: 0; margin: 0; font-size: 0;" />
                </a>
            </td>
        </tr>
        <tr style="padding: 0; background: #fff; font-size: 0;">
            <td colspan="3" width="700" style="padding: 0;">
                <a target="_blank" href="https://vivencie.evviva.com.br/customer/account/login" style="display: block; text-decoration: none; padding: 0; font-size: 0;">
                    <img alt="" src="https://www.evviva.com.br/emkt/2021/18/EMKT_vivencie-evviva-especificadores_seq-02_V2_09.jpg" style="border: 0; margin: 0; font-size: 0;" />
                </a>
            </td>
        </tr>
        <tr style="padding: 0; background: #fff; font-size: 0;">
            <td colspan="3" width="700" style="padding: 0;">
                <a target="_blank" href="https://vivencie.evviva.com.br/customer/account/login" style="display: block; text-decoration: none; padding: 0; font-size: 0;">
                    <img alt="" src="https://www.evviva.com.br/emkt/2021/18/EMKT_vivencie-evviva-especificadores_seq-02_V2_10.jpg" style="border: 0; margin: 0; font-size: 0;" />
                </a>
            </td>
        </tr>
        <tr style="padding: 0; background: #fff; font-size: 0;">
            <td width="354" style="padding: 0;">
                <a target="_blank" href="https://www.evviva.com.br" style="display: block; text-decoration: none; padding: 0; font-size: 0;">
                    <img src="https://www.evviva.com.br/emkt/2021/18/EMKT_vivencie-evviva-especificadores_seq-02_V2_11.jpg" alt="Site Evviva: https://www.evviva.com.br. " style="border: 0; margin: 0; font-size: 0;" />
                </a>
            </td>
            <td width="346" style="padding: 0;">
                <a target="_blank" href="https://www.instagram.com/evvivaoficial" style="display: block; text-decoration: none; padding: 0; font-size: 0;">
                    <img src="https://www.evviva.com.br/emkt/2021/18/EMKT_vivencie-evviva-especificadores_seq-02_V2_12.jpg" alt="Instagram Evviva: https://www.instagram.com/evvivaoficial. " style="border: 0; margin: 0; font-size: 0;" />
                </a>
                <a target="_blank" href="https://www.facebook.com/evvivaoficial" style="display: block; text-decoration: none; padding: 0; font-size: 0;">
                    <img src="https://www.evviva.com.br/emkt/2021/18/EMKT_vivencie-evviva-especificadores_seq-02_V2_13.jpg" alt="Facebook Evviva: https://www.facebook.com/evvivaoficial." style="border: 0; margin: 0; font-size: 0;" />
                </a>
            </td>
        </tr>
    </tbody>
</table>