<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<span style="font-size: 0; color: #fff"></span>
<table width="760" style="font-size:0; width: 760px; background: #fff; margin: 0 auto; border-collapse: collapse; table-layout: fixed;">
    <tbody>
        <tr style="padding: 0; background: #fff; font-size: 0;">
            <td width="760" style="padding: 0 0 10px; margin: 0; text-align: center;">
                <span style="text-align: center; font-family: 'Arial'; font-size: 12px; color: #938b8b">Se você está tendo dificuldades para acessar o conteúdo no email, tente a <a style="color: #000;" target="_blank" href="https://www.evviva.com.br/emkt/2021/03/index.html">versão online</a>.</span>
            </td>
        </tr>
        <tr style="padding: 0; background: #fff; font-size: 0;">
            <td style="padding: 0;">
                <img src="https://www.evviva.com.br/emkt/2021/03/1.jpg" alt="" style="border: 0; margin: 0; font-size: 0;" />
            </td>
        </tr>
        <tr style="padding: 0; background: #fff; font-size: 0;">
            <td style="padding: 0;">
                <img src="https://www.evviva.com.br/emkt/2021/03/2.jpg" alt="" style="border: 0; margin: 0; font-size: 0;" />
            </td>
        </tr>
        <tr style="padding: 0; background: #fff; font-size: 0;">
            <td style="padding: 0;">
                <img src="https://www.evviva.com.br/emkt/2021/03/3.jpg" alt="" style="border: 0; margin: 0; font-size: 0;" />
            </td>
        </tr>
        <tr style="padding: 0; background: #fff; font-size: 0;">
            <td style="padding: 0;">
                <img src="https://www.evviva.com.br/emkt/2021/03/4.jpg" alt="" style="border: 0; margin: 0; font-size: 0;" />
            </td>
        </tr>
        <tr style="padding: 0; background: #fff; font-size: 0;">
            <td style="padding: 0;">
                <img src="https://www.evviva.com.br/emkt/2021/03/5.jpg" alt="" style="border: 0; margin: 0; font-size: 0;" />
            </td>
        </tr>
        <tr style="padding: 0; background: #fff; font-size: 0;">
            <td style="padding: 0;">
                <img src="https://www.evviva.com.br/emkt/2021/03/6.jpg" alt="" style="border: 0; margin: 0; font-size: 0;" />
            </td>
        </tr>
        <tr style="padding: 0; background: #fff; font-size: 0;">
            <td style="padding: 0;">
                <a target="_blank" href="https://www.evviva.com.br" style="display: block; text-decoration: none; padding:0; font-size: 0;">
                    <img src="https://www.evviva.com.br/emkt/2021/03/7.jpg" alt="" style="border: 0; margin: 0; font-size: 0;" />
                </a>
            </td>
        </tr>
        <tr style="padding: 0; background: #fff; font-size: 0;">
            <td style="padding: 0;">
                <a target="_blank" href="https://www.instagram.com/evvivaoficial" style="display: inline-block; text-decoration: none; padding:0; font-size: 0;">
                    <img src="https://www.evviva.com.br/emkt/2021/03/8.jpg" alt="Instagram Evviva" style="width: 380px; border: 0; margin: 0; font-size: 0;" />
                </a>
                <a target="_blank" href="https://www.facebook.com/evvivaoficial" style="display: inline-block; text-decoration: none; padding:0; font-size: 0;">
                    <img src="https://www.evviva.com.br/emkt/2021/03/9.jpg" alt="" style="width: 380px; border: 0; margin: 0; font-size: 0;" />
                </a>
            </td>
        </tr>
    </tbody>
</table>