<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<span style="font-size: 0; color: #fff">Um ambiente marcante. As arquitetas Ana Paula e Ana Claudia Nonato, da Dois A Arquitetura e Interiores, assinam o the bar.com, um ambiente funcional, de estilo casual e com espaços que se integram de forma fluida. </span>
<table width="700" style="font-size:0; width: 700px; background: #fff; margin: 0 auto; border-collapse: collapse;">
    <tbody>
        <tr style="padding: 0; background: #fff; font-size: 0;">
            <td colspan="3" width="700" style="padding: 0 0 10px; margin: 0; text-align: center;">
                <span style="text-align: center; font-family: 'Arial'; font-size: 12px; color: #938b8b;">Se você está tendo dificuldades para acessar o conteúdo no e-mail, tente a <a style="color: #584632;" target="_blank" href="https://www.evviva.com.br/emkt/2021/15/index.html">versão online</a>.</span>
            </td>
        </tr>
        <tr style="padding: 0; background: #fff; font-size: 0;">
            <td colspan="3" width="700" style="padding: 0;">
                <a target="_blank" href="https://youtu.be/UlQ9NxjSULI" style="display: block; text-decoration: none; padding: 0; font-size: 0;">
                    <img alt="Um ambiente marcante. " src="https://www.evviva.com.br/emkt/2021/15/emkt_the-bar_evviva-V3_01.jpg" style="border: 0; margin: 0; font-size: 0;" />
                </a>
            </td>
        </tr>
        <tr style="padding: 0; background: #fff; font-size: 0;">
            <td colspan="3" width="700" style="padding: 0;">
                <a target="_blank" href="https://youtu.be/UlQ9NxjSULI" style="display: block; text-decoration: none; padding: 0; font-size: 0;">
                    <img alt="Um ambiente marcante. As arquitetas Ana Paula e Ana Claudia Nonato, da Dois A Arquitetura e Interiores, assinam o the bar.com, um ambiente funcional, de estilo casual e com espaços que se integram de forma fluida. " src="https://www.evviva.com.br/emkt/2021/15/emkt_the-bar_evviva-V3_02.jpg" style="border: 0; margin: 0; font-size: 0;" />
                </a>
            </td>
        </tr>
        <tr style="padding: 0; background: #fff; font-size: 0;">
            <td colspan="3" width="700" style="padding: 0;">
                <a target="_blank" href="https://youtu.be/UlQ9NxjSULI" style="display: block; text-decoration: none; padding: 0; font-size: 0;">
                    <img alt="Soluções personalizadas. " src="https://www.evviva.com.br/emkt/2021/15/emkt_the-bar_evviva-V3_03.jpg" style="border: 0; margin: 0; font-size: 0;" />
                </a>
            </td>
        </tr>
        <tr style="padding: 0; background: #fff; font-size: 0;">
            <td colspan="3" width="700" style="padding: 0;">
                <a target="_blank" href="https://youtu.be/UlQ9NxjSULI" style="display: block; text-decoration: none; padding: 0; font-size: 0;">
                    <img alt="Compondo o ambiente e a decoração, painéis no padrão Castagno revestem o espaço, fornecendo personalidade e aconchego devido a sua tonalidade amadeirada. " src="https://www.evviva.com.br/emkt/2021/15/emkt_the-bar_evviva-V3_04.jpg" style="border: 0; margin: 0; font-size: 0;" />
                </a>
            </td>
        </tr>
        <tr style="padding: 0; background: #fff; font-size: 0;">
            <td colspan="3" width="700" style="padding: 0;">
                <a target="_blank" href="https://youtu.be/UlQ9NxjSULI" style="display: block; text-decoration: none; padding: 0; font-size: 0;">
                    <img alt="A adega se destaca pela sua grandiosidade. Com portas deslizantes em vidro transparente, iluminação interna e nichos e prateleiras suspensas, o móvel cria um efeito impressionante. A mostra acontece até o dia 15 de novembro no Parque Mirante. " src="https://www.evviva.com.br/emkt/2021/15/emkt_the-bar_evviva-V3_05.jpg" style="border: 0; margin: 0; font-size: 0;" />
                </a>
            </td>
        </tr>
        <tr style="padding: 0; background: #fff; font-size: 0;">
            <td colspan="3" width="700" style="padding: 0;">
                <a target="_blank" href="https://youtu.be/UlQ9NxjSULI" style="display: block; text-decoration: none; padding: 0; font-size: 0;">
                    <img alt="Conheça mais detalhes!. " src="https://www.evviva.com.br/emkt/2021/15/emkt_the-bar_evviva-V3_06.jpg" style="border: 0; margin: 0; font-size: 0;" />
                </a>
            </td>
        </tr>
        <tr style="padding: 0; background: #fff; font-size: 0;">
            <td width="354" style="padding: 0;">
                <a target="_blank" href="https://www.instagram.com/evvivaoficial/" style="display: block; text-decoration: none; padding: 0; font-size: 0;">
                    <img src="https://www.evviva.com.br/emkt/2021/15/emkt_the-bar_evviva-V3_07.jpg" alt="Site Evviva: https://www.evviva.com.br. " style="border: 0; margin: 0; font-size: 0;" />
                </a>
            </td>
            <td width="346" style="padding: 0;">
                <a target="_blank" href="https://www.instagram.com/evvivaoficial" style="display: block; text-decoration: none; padding: 0; font-size: 0;">
                    <img src="https://www.evviva.com.br/emkt/2021/15/emkt_the-bar_evviva-V3_08.jpg" alt="Instagram Evviva: https://www.instagram.com/evvivaoficial. " style="border: 0; margin: 0; font-size: 0;" />
                </a>
                <a target="_blank" href="https://www.facebook.com/evvivaoficial" style="display: block; text-decoration: none; padding: 0; font-size: 0;">
                    <img src="https://www.evviva.com.br/emkt/2021/15/emkt_the-bar_evviva-V3_09.jpg" alt="Facebook Evviva: https://www.facebook.com/evvivaoficial." style="border: 0; margin: 0; font-size: 0;" />
                </a>
            </td>
        </tr>
    </tbody>
</table>